In [3]:
import geopy

In [4]:
from geopy.geocoders import Nominatim

In [5]:
nom=Nominatim()

In [56]:
n=nom.geocode("McPhail Avenue, Kingscliff, 2487", timeout=10)

In [57]:
type(n)

geopy.location.Location

In [24]:
n.latitude

-28.2618291

In [25]:
n.longitude

153.5736792

In [26]:
import pandas

In [67]:
lived = pandas.read_csv('lived.csv')
lived

   ID            Street      Suburb            Shire    Country
0   1       McPhail Ave  Kingscliff       Tweed 2487  Australia
1   2         Eviron Rd      Eviron       Tweed 2484  Australia
2   3    Gilcrest Court  Molendinar  Gold Coast 4214  Australia
3   4       Respall Way     Arundel  Gold Coast 4214  Australia
4   5  Dellwood Circuit  Molendinar  Gold Coast 4214  Australia

In [68]:
lived['Full Address'] = lived['Street']+', '+lived['Suburb']+', '+lived['Shire']+', '+lived['Country']
lived

,ID,Street,Suburb,Shire,Country,Full Address
0,1,McPhail Ave,Kingscliff,Tweed 2487,Australia,"McPhail Ave, Kingscliff, Tweed 2487, Australia"
1,2,Eviron Rd,Eviron,Tweed 2484,Australia,"Eviron Rd, Eviron, Tweed 2484, Australia"
2,3,Gilcrest Court,Molendinar,Gold Coast 4214,Australia,"Gilcrest Court, Molendinar, Gold Coast 4214, A..."
3,4,Respall Way,Arundel,Gold Coast 4214,Australia,"Respall Way, Arundel, Gold Coast 4214, Australia"
4,5,Dellwood Circuit,Molendinar,Gold Coast 4214,Australia,"Dellwood Circuit, Molendinar, Gold Coast 4214,..."

In [69]:
lived['Coordinates'] = lived['Full Address'].apply(nom.geocode)

In [70]:
type(lived['Coordinates'])

pandas.core.series.Series

In [71]:
lived['Coordinates'][2].latitude

-27.9682803

In [73]:
lived['Latitude'] = lived['Coordinates'].apply(lambda x: x.latitude)
lived

,ID,Street,Suburb,Shire,Country,Full Address,Coordinates,Latitude
0,1,McPhail Ave,Kingscliff,Tweed 2487,Australia,"McPhail Ave, Kingscliff, Tweed 2487, Australia","(McPhail Avenue, Kingscliff, Tweed, NSW, 2487,...",-28.261829
1,2,Eviron Rd,Eviron,Tweed 2484,Australia,"Eviron Rd, Eviron, Tweed 2484, Australia","(Eviron Road, Eviron, Nunderi, Tweed, NSW, 248...",-28.309435
2,3,Gilcrest Court,Molendinar,Gold Coast 4214,Australia,"Gilcrest Court, Molendinar, Gold Coast 4214, A...","(Gilcrest Court, Molendinar, Gold Coast, Gold ...",-27.968280
3,4,Respall Way,Arundel,Gold Coast 4214,Australia,"Respall Way, Arundel, Gold Coast 4214, Australia","(Respall Way, Arundel, Gold Coast, Gold Coast ...",-27.936830
4,5,Dellwood Circuit,Molendinar,Gold Coast 4214,Australia,"Dellwood Circuit, Molendinar, Gold Coast 4214,...","(Dellwood Circuit, Molendinar, Gold Coast, Gol...",-27.972282

In [75]:
lived['Longitude'] = lived['Coordinates'].apply(lambda x: x.longitude)
lived

,ID,Street,Suburb,Shire,Country,Full Address,Coordinates,Latitude,Longitude
0,1,McPhail Ave,Kingscliff,Tweed 2487,Australia,"McPhail Ave, Kingscliff, Tweed 2487, Australia","(McPhail Avenue, Kingscliff, Tweed, NSW, 2487,...",-28.261829,153.573679
1,2,Eviron Rd,Eviron,Tweed 2484,Australia,"Eviron Rd, Eviron, Tweed 2484, Australia","(Eviron Road, Eviron, Nunderi, Tweed, NSW, 248...",-28.309435,153.455910
2,3,Gilcrest Court,Molendinar,Gold Coast 4214,Australia,"Gilcrest Court, Molendinar, Gold Coast 4214, A...","(Gilcrest Court, Molendinar, Gold Coast, Gold ...",-27.968280,153.375329
3,4,Respall Way,Arundel,Gold Coast 4214,Australia,"Respall Way, Arundel, Gold Coast 4214, Australia","(Respall Way, Arundel, Gold Coast, Gold Coast ...",-27.936830,153.354362
4,5,Dellwood Circuit,Molendinar,Gold Coast 4214,Australia,"Dellwood Circuit, Molendinar, Gold Coast 4214,...","(Dellwood Circuit, Molendinar, Gold Coast, Gol...",-27.972282,153.374644

In [76]:
del lived['Coordinates']
lived

,ID,Street,Suburb,Shire,Country,Full Address,Latitude,Longitude
0,1,McPhail Ave,Kingscliff,Tweed 2487,Australia,"McPhail Ave, Kingscliff, Tweed 2487, Australia",-28.261829,153.573679
1,2,Eviron Rd,Eviron,Tweed 2484,Australia,"Eviron Rd, Eviron, Tweed 2484, Australia",-28.309435,153.455910
2,3,Gilcrest Court,Molendinar,Gold Coast 4214,Australia,"Gilcrest Court, Molendinar, Gold Coast 4214, A...",-27.968280,153.375329
3,4,Respall Way,Arundel,Gold Coast 4214,Australia,"Respall Way, Arundel, Gold Coast 4214, Australia",-27.936830,153.354362
4,5,Dellwood Circuit,Molendinar,Gold Coast 4214,Australia,"Dellwood Circuit, Molendinar, Gold Coast 4214,...",-27.972282,153.374644